* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #c0ff6c;
}

ul {
  position: relative;
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

ul li {
  position: relative;
  list-style: none;
  padding: 10px 15px;
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
}

ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  transition: 1s;
}

ul li:hover:before {
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 1);
  transition: 0s;
}
